In [1]:
import pandas as pd

In [2]:
train = pd.read_excel('Downloads\Indian stock market final sheet Part 1.xlsx')

In [3]:
train.head()

,Name,Ticker,Sub-Sector,Market Cap,Close Price,PE Ratio,Return on Equity,Return on Assets,Net Profit Margin,5Y Avg EBITDA Margin,...,Net Income,PBT,Earnings Per Share,EBITDA,Long Term Investments,Reserves & Surplus,Cash and Equivalent,Book Value,Free Cash Flow,Operating Cash Flow
0,Reliance Industries Ltd,RELIANCE,Oil & Gas - Refining & Marketing,1.679534e+06,2467.40,34.186904,7.793277,3.957021,9.725370,17.720494,...,49128.00,55461.00,74.653049,103222.00,212382.00,579376.00,169843.00,799432.00,-79652.00,26185.00
1,Tata Consultancy Services Ltd,TCS,IT Services & Consulting,1.358569e+06,3626.70,41.892356,37.740680,25.932382,19.383065,29.072528,...,32430.00,43760.00,87.043624,48462.00,213.00,86063.00,38489.00,87108.00,35727.00,38802.00
2,HDFC Bank Ltd,HDFCBANK,Private Banks,8.206363e+05,1486.50,25.779258,16.435200,1.883433,20.420916,28.206116,...,31833.20,42796.14,57.899268,44181.15,438823.11,148746.23,121272.52,210442.95,40780.31,42476.46
3,Infosys Ltd,INFY,IT Services & Consulting,7.775010e+05,1853.05,40.178853,27.135305,19.417895,18.847214,28.656802,...,19351.00,26628.00,45.607423,30090.00,11863.00,73627.00,27056.00,76782.00,21117.00,23224.00
4,ICICI Bank Ltd,ICICIBANK,Private Banks,5.002790e+05,710.75,27.212283,12.382897,1.243333,11.395012,11.900543,...,18384.31,26028.33,27.461218,27368.40,536578.62,107231.52,147570.54,167175.84,136327.09,138015.30

In [4]:
# check how many missing values
train.isnull().sum()

Name                                 0
Ticker                               0
Sub-Sector                          53
Market Cap                           0
Close Price                          0
PE Ratio                            43
Return on Equity                   130
Return on Assets                    48
Net Profit Margin                   47
5Y Avg EBITDA Margin               120
EBITDA Margin                       47
1Y Return vs Nifty                   0
5Y CAGR                            407
Debt to Equity                     165
Long Term Debt to Equity           167
Net Income / Liabilities           443
5Y Historical Revenue Growth       129
5Y Historical EBITDA Growth        376
5Y Hist Op. Cash Flow Growth       727
5Y Historical EPS Growth           671
Forward PE Ratio                  1469
Enterprise Value                     1
PB Ratio                            46
Dividend Yield                     902
PE Premium vs Sector                43
Domestic Institutional Holding      40
Mutual Fund Holding                 40
Promoter Holding                    40
Foreign Institutional Holding       40
Retail Investor Holding             41
Pledged Promoter Holdings           40
Insurance Firms Holding             40
No. of Shareholders                 50
Total Revenue                       41
Net Income                          41
PBT                                 41
Earnings Per Share                  41
EBITDA                              41
Long Term Investments               46
Reserves & Surplus                  46
Cash and Equivalent                 46
Book Value                          47
Free Cash Flow                      46
Operating Cash Flow                 46
dtype: int64

# Replace missing categorical values

In [5]:
def impute_nan_most_frequent_category(DataFrame,ColName):
    # .mode()[0] - gives first category name
     most_frequent_category=DataFrame[ColName].mode()[0]
    
    # replace nan values with most occured category
     DataFrame[ColName + '_new'] = DataFrame[ColName]
     DataFrame[ColName + '_new'].fillna(most_frequent_category,inplace=True)

In [6]:
for Columns in ['Sub-Sector']:
    impute_nan_most_frequent_category(train,Columns)
    
# Display imputed result
train[['Sub-Sector','Sub-Sector_new']].head(10)

                         Sub-Sector                    Sub-Sector_new
0  Oil & Gas - Refining & Marketing  Oil & Gas - Refining & Marketing
1          IT Services & Consulting          IT Services & Consulting
2                     Private Banks                     Private Banks
3          IT Services & Consulting          IT Services & Consulting
4                     Private Banks                     Private Banks
5         FMCG - Household Products         FMCG - Household Products
6                      Public Banks                      Public Banks
7                    Home Financing                    Home Financing
8                  Consumer Finance                  Consumer Finance
9                  Telecom Services                  Telecom Services

In [7]:
#3. Drop actual columns
train = train.drop(['Sub-Sector'], axis = 1)

In [8]:
train.isnull().sum()

Name                                 0
Ticker                               0
Market Cap                           0
Close Price                          0
PE Ratio                            43
Return on Equity                   130
Return on Assets                    48
Net Profit Margin                   47
5Y Avg EBITDA Margin               120
EBITDA Margin                       47
1Y Return vs Nifty                   0
5Y CAGR                            407
Debt to Equity                     165
Long Term Debt to Equity           167
Net Income / Liabilities           443
5Y Historical Revenue Growth       129
5Y Historical EBITDA Growth        376
5Y Hist Op. Cash Flow Growth       727
5Y Historical EPS Growth           671
Forward PE Ratio                  1469
Enterprise Value                     1
PB Ratio                            46
Dividend Yield                     902
PE Premium vs Sector                43
Domestic Institutional Holding      40
Mutual Fund Holding                 40
Promoter Holding                    40
Foreign Institutional Holding       40
Retail Investor Holding             41
Pledged Promoter Holdings           40
Insurance Firms Holding             40
No. of Shareholders                 50
Total Revenue                       41
Net Income                          41
PBT                                 41
Earnings Per Share                  41
EBITDA                              41
Long Term Investments               46
Reserves & Surplus                  46
Cash and Equivalent                 46
Book Value                          47
Free Cash Flow                      46
Operating Cash Flow                 46
Sub-Sector_new                       0
dtype: int64

# Replace numerical values with mean

In [9]:
train['5Y CAGR'].mean()

14.428791790034811

In [10]:
train['5Y CAGR'] = train['5Y CAGR'].fillna(train['5Y CAGR'].mean())
train['Earnings Per Share'] = train['Earnings Per Share'].fillna(train['Earnings Per Share'].mean())

In [11]:
train.isnull().sum()

Name                                 0
Ticker                               0
Market Cap                           0
Close Price                          0
PE Ratio                            43
Return on Equity                   130
Return on Assets                    48
Net Profit Margin                   47
5Y Avg EBITDA Margin               120
EBITDA Margin                       47
1Y Return vs Nifty                   0
5Y CAGR                              0
Debt to Equity                     165
Long Term Debt to Equity           167
Net Income / Liabilities           443
5Y Historical Revenue Growth       129
5Y Historical EBITDA Growth        376
5Y Hist Op. Cash Flow Growth       727
5Y Historical EPS Growth           671
Forward PE Ratio                  1469
Enterprise Value                     1
PB Ratio                            46
Dividend Yield                     902
PE Premium vs Sector                43
Domestic Institutional Holding      40
Mutual Fund Holding                 40
Promoter Holding                    40
Foreign Institutional Holding       40
Retail Investor Holding             41
Pledged Promoter Holdings           40
Insurance Firms Holding             40
No. of Shareholders                 50
Total Revenue                       41
Net Income                          41
PBT                                 41
Earnings Per Share                   0
EBITDA                              41
Long Term Investments               46
Reserves & Surplus                  46
Cash and Equivalent                 46
Book Value                          47
Free Cash Flow                      46
Operating Cash Flow                 46
Sub-Sector_new                       0
dtype: int64

In [12]:
train['5Y CAGR'].mean()

14.428791790034955

In [13]:
train['Earnings Per Share'].mean()

16.9622803886661

In [14]:
import seaborn as sns

In [ ]:
data.to_excel('Indian stock market final sheet.xlsx', sheet_name='sheet1', index=False)